.card {width:72px;height:96px;margin:15px;float:left;clear:none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.facedown {background: url(img/eighty-one.gif) repeat !important;}
.card_2_clubs {background: url(img/2_clubs.png);}
.card_2_diamonds {background: url(img/2_diamonds.png);}
.card_2_hearts {background: url(img/2_hearts.png);}
.card_2_spades {background: url(img/2_spades.png);}
.card_3_clubs {background: url(img/3_clubs.png);}
.card_3_diamonds {background: url(img/3_diamonds.png);}
.card_3_hearts {background: url(img/3_hearts.png);}
.card_3_spades {background: url(img/3_spades.png);}
.card_4_clubs {background: url(img/4_clubs.png);}
.card_4_diamonds {background: url(img/4_diamonds.png);}
.card_4_hearts {background: url(img/4_hearts.png);}
.card_4_spades {background: url(img/4_spades.png);}
.card_5_clubs {background: url(img/5_clubs.png);}
.card_5_diamonds {background: url(img/5_diamonds.png);}
.card_5_hearts {background: url(img/5_hearts.png);}
.card_5_spades {background: url(img/5_spades.png);}
.card_6_clubs {background: url(img/6_clubs.png);}
.card_6_diamonds {background: url(img/6_diamonds.png);}
.card_6_hearts {background: url(img/6_hearts.png);}
.card_6_spades {background: url(img/6_spades.png);}
.card_7_clubs {background: url(img/7_clubs.png);}
.card_7_diamonds {background: url(img/7_diamonds.png);}
.card_7_hearts {background: url(img/7_hearts.png);}
.card_7_spades {background: url(img/7_spades.png);}
.card_8_clubs {background: url(img/8_clubs.png);}
.card_8_diamonds {background: url(img/8_diamonds.png);}
.card_8_hearts {background: url(img/8_hearts.png);}
.card_8_spades {background: url(img/8_spades.png);}
.card_9_clubs {background: url(img/9_clubs.png);}
.card_9_diamonds {background: url(img/9_diamonds.png);}
.card_9_hearts {background: url(img/9_hearts.png);}
.card_9_spades {background: url(img/9_spades.png);}
.card_10_clubs {background: url(img/10_clubs.png);}
.card_10_diamonds {background: url(img/10_diamonds.png);}
.card_10_hearts {background: url(img/10_hearts.png);}
.card_10_spades {background: url(img/10_spades.png);}
.card_jack_clubs {background: url(img/jack_clubs.png);}
.card_jack_diamonds {background: url(img/jack_diamonds.png);}
.card_jack_hearts {background: url(img/jack_hearts.png);}
.card_jack_spades {background: url(img/jack_spades.png);}
.card_queen_clubs {background: url(img/queen_clubs.png);}
.card_queen_diamonds {background: url(img/queen_diamonds.png);}
.card_queen_hearts {background: url(img/queen_hearts.png);}
.card_queen_spades {background: url(img/queen_spades.png);}
.card_king_clubs {background: url(img/king_clubs.png);}
.card_king_diamonds {background: url(img/king_diamonds.png);}
.card_king_hearts {background: url(img/king_hearts.png);}
.card_king_spades {background: url(img/king_spades.png);}
.card_ace_clubs {background: url(img/ace_clubs.png);}
.card_ace_diamonds {background: url(img/ace_diamonds.png);}
.card_ace_hearts {background: url(img/ace_hearts.png);}
.card_ace_spades {background: url(img/ace_spades.png);}
